  
<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="'over'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]> 
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/">
        <mat-icon>home</mat-icon> Home
      </a>      
      <a mat-list-item routerLinkActive="active" routerLink="/wine-list">
        <mat-icon>format_list_bulleted</mat-icon> View Wines
      </a>
      <!--<a mat-list-item routerLinkActive="active" routerLink="/books-list">
        <mat-icon>format_list_bulleted</mat-icon> View Wines
      </a>--
      <a mat-list-item routerLinkActive="active" routerLink="/found">
        <mat-icon>query_stats</mat-icon> Found Golf Ball
      </a>
      <a mat-list-item routerLink="/found">
        <mat-icon>wine_bar</mat-icon> Wines
      </a>-->
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content> 
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

