section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.mat-card-image {
    max-height: 500px !important;
    background-size: auto;
}
.avatar {
    background-image: url('/assets/UserIcon.png');
    background-size: cover;
}

.todd {
    background-image: url('/assets/ToddProfile.jpg');
}
.leanne {
    background-image: url('/assets/Leanne.jpg');
}
.jer {
    background-image: url('/assets/JerProfile.jpg');
}
.kierst {
    background-image: url('/assets/Kiersten.jpeg');
}
.my-search-box {
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    width: 60%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    width: 100%;
}
.maps-dialog {
    position: absolute;
    z-index: 10;
    width: 500px;
    max-width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 20px;
    border-radius: 12px;
}